/*-------- Set borders on the tables --------------------------*/
table { border-collapse: collapse; }

/* Double bottom border after the first row in a vertical table */
.vertical tr:first-of-type { border-bottom: double; }
/* Double right border on header cells in a horizontal table */
.horizontal th { border-right: double; }

/* thin solid border below each row... */
tr { border-bottom: thin solid; } 
/* except the last */
tr:last-of-type { border-bottom: none; } 
/* thin solid right border on every td... */
td { border-right: thin solid; }
/* except the last on each row */
td:last-of-type { border-right: none; }
/* Thin right border on the first th cell in a vertical table */
.vertical th:first-of-type { border-right: thin solid; }

/*------- SELECTORS --------------------------------------------*/
/* By element tag */
caption { font-style: italic; }
th { color: lightblue; }

/*By parent*/
ol > li { font-family: "Gill Sans MT", sans-serif; color: green;}

/* By ancestor */
 ul { color: blue; }
 
 /*by class*/
 .math { font-family: "French Script MT", cursive; font-size: 30px; color: purple}